$light-green: hsl(148, 38%, 91%);
$green: hsl(169, 82%, 27%);
$red: hsl(0, 66%, 56%);
$white: hsl(0, 0%, 100%);
$meduim-grey: hsl(186, 15%, 59%);
$dark-grey: hsl(187, 24%, 22%);
$font-size: 1rem;
$font-weight-400: 400;
$font-weight-700: 700;
$font-family: "Karla", sans-serif, system-ui;

/* @media (prefers-color-scheme: light) {
  :root {
    --text: hsl(283, 54%, 3%);
    --background: hsl(280, 43%, 99%);
    --primary: hsl(276, 51%, 52%);
    --secondary: hsl(321, 52%, 71%);
    --accent: hsl(332, 52%, 61%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(285, 50%, 97%);
    --background: hsl(280, 60%, 1%);
    --primary: hsl(276, 51%, 48%);
    --secondary: hsl(321, 52%, 29%);
    --accent: hsl(332, 52%, 39%);
  }
}
 */